deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "vaultName": {
      "type": "string",
      "metadata": {
        "description": "Name of the key vault resource"
      }
    },
    "organization": {
      "type": "string",
      "metadata": {
        "description": "Name of the Azure DevOps Organization"
      }
    },
    "projectConfig": {
      "type": "array",
      "metadata": {
        "description": "JSON Config for projects"
      }
    }
  },
  "variables": {
    "Get Secret App Name": "get-secret-app",
    "Create Release App Name": "create-release-app",
    "Get Release Defition App Name": "get-release-definition-app",
    "Get Release Status App Name": "get-release-status-app",
    "Rebuild Dev App Name": "rebuild-dev-app",
    "Rebuild Dev Blue App Name": "rebuild-dev-blue-app",
    "Rebuild Dev Green App Name": "rebuild-dev-green-app"
  },
  "resources": [
    {
      "name": "[parameters('vaultName')]",
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2018-02-14",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name'))]"
      ],
      "tags": {},
      "properties": {
        "tenantId": "[subscription().tenantId]",
        "accessPolicies": [
          {
            "tenantId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.tenantId]",
            "objectId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.principalId]",
            "permissions": {
              "secrets": [
                "get"
              ]
            }
          }
        ],
        "sku": {
          "family": "A",
          "name": "standard"
        }
      },
      "resources": []
    },
    {
      "name": "[variables('Get Secret App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "get-current-version": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://@{parameters('vault-name')}.vault.azure.net/secrets/@{triggerBody()['secret']}?api-version=7.0"
              },
              "runAfter": {},
              "type": "Http"
            },
            "parse-version": {
              "inputs": {
                "content": "@body('get-current-version')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-current-version": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "get-secret": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "@{body('parse-version')['id']}?api-version=7.0"
              },
              "runAfter": {
                "parse-version": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "parse-secret": {
              "inputs": {
                "content": "@body('get-secret')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-secret": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "response-secret": {
              "inputs": {
                "body": {
                  "value": "@body('parse-secret')?['value']"
                },
                "statusCode": 200
              },
              "kind": "http",
              "runAfter": {
                "parse-secret": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "vault-name": {
              "type": "string"
            }
          },
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "secret": {
                      "type": "string",
                      "required": true
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          }
        },
        "parameters": {
          "vault-name": {
            "value": "[parameters('vaultName')]"
          }
        }
      }
    },
    {
      "name": "[variables('Get Release Defition App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "pat-base64": {
              "type": "Compose",
              "inputs": "@base64(concat(':', triggerBody()?['pat']))",
              "runAfter": {}
            },
            "create-url": {
              "type": "Compose",
              "inputs": "https://vsrm.dev.azure.com/@{triggerBody()?['organization']}/@{triggerBody()?['project']}/_apis/release/definitions/@{triggerBody()?['releaseDefinitionId']}?api-version=5.0",
              "runAfter": {
                "pat-base64": [
                  "Succeeded"
                ]
              }
            },
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{outputs('create-url')}",
                "headers": {
                  "Authorization": "Basic @{outputs('pat-base64')} "
                }
              },
              "runAfter": {
                "create-url": [
                  "Succeeded"
                ]
              }
            },
            "parse-response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "rank"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "project-environments": {
              "inputs": {
                "from": "@body('parse-response')?['environments']",
                "select": {
                  "id": "@item()?['id']",
                  "name": "@item()?['name']",
                  "rank": "@item()?['rank']"
                }
              },
              "runAfter": {
                "parse-response": [
                  "Succeeded"
                ]
              },
              "type": "Select"
            },
            "Response-Success": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "environments": "@body('project-environments')"
                }
              },
              "runAfter": {
                "project-environments": [
                  "Succeeded"
                ]
              }
            },
            "Response-Failure": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 500
              },
              "runAfter": {
                "HTTP": [
                  "Failed"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pat": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "project": {
                      "type": "string"
                    },
                    "releaseDefinitionId": {
                      "type": "integer"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "name": "[variables('Create Release App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Get Release Defition App Name'))]"
      ],
      "tags": {},
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "pat-base64": {
              "type": "Compose",
              "inputs": "@base64(concat(':', triggerBody()?['pat']))",
              "runAfter": {}
            },
            "create-url": {
              "type": "Compose",
              "inputs": "https://vsrm.dev.azure.com/@{triggerBody()?['organization']}/@{triggerBody()?['project']}/_apis/release/releases?api-version=5.0-preview.8",
              "runAfter": {
                "pat-base64": [
                  "Succeeded"
                ]
              }
            },
            "get-release-definition": {
              "inputs": {
                "body": {
                  "organization": "@triggerBody()?['organization']",
                  "pat": "@triggerBody()?['pat']",
                  "project": "@triggerBody()?['project']",
                  "releaseDefinitionId": "@triggerBody()?['releaseDefinitionId']"
                },
                "host": {
                  "triggerName": "http-post",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', variables('Get Release Defition App Name'))]"
                  }
                }
              },
              "type": "Workflow",
              "runAfter": {
                "create-url": [
                  "Succeeded"
                ]
              }
            },
            "response-failure-get-release-definition": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 500
              },
              "runAfter": {
                "get-release-definition": [
                  "Failed"
                ]
              }
            },
            "parse-release-response": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('get-release-definition')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "rank": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "rank"
                        ]
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "get-release-definition": [
                  "Succeeded"
                ]
              }
            },
            "filter-environments": {
              "inputs": {
                "from": "@body('parse-release-response')?['environments']",
                "where": "@not(equals(item()['name'], triggerBody()?['environment']))"
              },
              "runAfter": {
                "parse-release-response": [
                  "Succeeded"
                ]
              },
              "type": "Query"
            },
            "initialize-manual-environements": {
              "inputs": {
                "variables": [
                  {
                    "name": "manualEnvironments",
                    "type": "Array",
                    "value": []
                  }
                ]
              },
              "runAfter": {
                "parse-release-response": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            },
            "for-each-environment": {
              "actions": {
                "append-to-manual-environments": {
                  "inputs": {
                    "name": "manualEnvironments",
                    "value": "@items('for-each-environment')['name']"
                  },
                  "runAfter": {},
                  "type": "AppendToArrayVariable"
                }
              },
              "foreach": "@body('filter-environments')",
              "runAfter": {
                "initialize-manual-environements": [
                  "Succeeded"
                ],
                "filter-environments": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "@{outputs('create-url')}",
                "headers": {
                  "Authorization": "Basic @{outputs('pat-base64')} "
                },
                "body": {
                  "artifacts": [],
                  "definitionId": "@triggerBody()?['releaseDefinitionId']",
                  "description": "@triggerBody()?['description']",
                  "manualEnvironments": "@variables('manualEnvironments')"
                }
              },
              "runAfter": {
                "for-each-environment": [
                  "Succeeded"
                ]
              }
            },
            "Response-Success": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "releaseId": "@body('parse-response-id')?['id']"
                }
              },
              "runAfter": {
                "parse-response-id": [
                  "Succeeded"
                ]
              }
            },
            "parse-response-id": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "response-failure-http": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 500
              },
              "runAfter": {
                "HTTP": [
                  "Failed"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pat": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "project": {
                      "type": "string"
                    },
                    "releaseDefinitionId": {
                      "type": "integer"
                    },
                    "description": {
                      "type": "string"
                    },
                    "environment": {
                      "type": "string"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "name": "[variables('Get Release Status App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{outputs('create-url')}",
                "headers": {
                  "Authorization": "Basic @{outputs('pat-base64')} "
                }
              },
              "runAfter": {
                "create-url": [
                  "Succeeded"
                ]
              }
            },
            "pat-base64": {
              "type": "Compose",
              "inputs": "@base64(concat(':', triggerBody()?['pat']))",
              "runAfter": {}
            },
            "create-url": {
              "type": "Compose",
              "inputs": "https://vsrm.dev.azure.com/@{triggerBody()?['organization']}/@{triggerBody()?['project']}/_apis/release/releases/@{triggerBody()?['releaseId']}?api-version=5.0-preview.8",
              "runAfter": {
                "pat-base64": [
                  "Succeeded"
                ]
              }
            },
            "Response-Success": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "id": "@body('parse-response-id')?['id']",
                  "name": "@{body('parse-response-id')?['name']}",
                  "status": "@{body('parse-response-id')?['status']}",
                  "environments": "@body('parse-response-environments')"
                }
              },
              "runAfter": {
                "parse-response-environments": [
                  "Succeeded"
                ]
              }
            },
            "parse-response-id": {
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                }
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "Response-Failure": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 500
              },
              "runAfter": {
                "HTTP": [
                  "Failed"
                ]
              }
            },
            "parse-response-environments": {
              "type": "Select",
              "inputs": {
                "from": "@body('HTTP')['environments']",
                "select": {
                  "id": "@item().id",
                  "name": "@item().name",
                  "status": "@item().status",
                  "rank": "@item().rank"
                }
              },
              "runAfter": {
                "parse-response-id": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pat": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "string"
                    },
                    "project": {
                      "type": "string"
                    },
                    "releaseId": {
                      "type": "integer"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    },
    {
      "name": "[variables('Rebuild Dev App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Create Release App Name'))]",
        "[resourceId('Microsoft.Logic/workflows', variables('Get Release Status App Name'))]"
      ],
      "tags": {},
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "get-pat": {
              "inputs": {
                "body": {
                  "secret": "pat"
                },
                "host": {
                  "triggerName": "http-post",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name'))]"
                  }
                }
              },
              "runAfter": {},
              "type": "Workflow"
            },
            "response-accepted": {
              "inputs": {
                "body": {
                  "value": 42
                },
                "statusCode": 202
              },
              "kind": "http",
              "runAfter": {},
              "type": "Response"
            },
            "parse-pat": {
              "inputs": {
                "content": "@body('get-pat')",
                "schema": {
                  "properties": {
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-pat": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "initialize-error-release": {
              "inputs": {
                "variables": [
                  {
                    "name": "errorRelease",
                    "type": "String",
                    "value": ""
                  }
                ]
              },
              "runAfter": {},
              "type": "InitializeVariable"
            },
            "parse-project-configuration": {
              "inputs": {
                "content": "[parameters('projectConfig')]",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "stage": {
                        "type": "string"
                      },
                      "releases": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "release": {
                              "type": "string"
                            },
                            "project": {
                              "type": "string"
                            },
                            "releaseDefinitionId": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "release",
                            "project",
                            "releaseDefinitionId"
                          ]
                        }
                      }
                    },
                    "required": [
                      "stage",
                      "releases"
                    ]
                  }
                }
              },
              "runAfter": {},
              "type": "ParseJson"
            },
            "for-each-stage": {
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              },
              "actions": {
                "grab-error": {
                  "inputs": "@variables('errorRelease')",
                  "runAfter": {},
                  "type": "Compose"
                },
                "if-no-errors": {
                  "actions": {
                    "current-stage": {
                      "inputs": "@items('for-each-stage')",
                      "runAfter": {},
                      "type": "Compose"
                    },
                    "for-each-release": {
                      "runtimeConfiguration": {
                        "concurrency": {
                          "repetitions": 5
                        }
                      },
                      "actions": {
                        "current-release": {
                          "inputs": "@items('for-each-release')",
                          "runAfter": {},
                          "type": "Compose"
                        },
                        "create-release": {
                          "inputs": {
                            "body": {
                              "organization": "[parameters('organization')]",
                              "pat": "@body('parse-pat')?['value']",
                              "project": "@items('for-each-release')['project']",
                              "environment": "dev",
                              "releaseDefinitionId": "@items('for-each-release')['releaseDefinitionId']",
                              "description": "@concat('Automation for project ', items('for-each-release')['project'])"
                            },
                            "host": {
                              "triggerName": "http-post",
                              "workflow": {
                                "id": "[resourceId('Microsoft.Logic/workflows', variables('Create Release App Name'))]"
                              }
                            }
                          },
                          "runAfter": {
                            "current-release": [
                              "Succeeded"
                            ]
                          },
                          "type": "Workflow"
                        },
                        "parse-create-release": {
                          "inputs": {
                            "content": "@body('create-release')",
                            "schema": {
                              "properties": {
                                "releaseId": {
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "runAfter": {
                            "create-release": [
                              "Succeeded"
                            ]
                          },
                          "type": "ParseJson"
                        },
                        "until-not-in-progress": {
                          "actions": {
                            "delay": {
                              "inputs": {
                                "interval": {
                                  "count": 1,
                                  "unit": "Minute"
                                }
                              },
                              "runAfter": {},
                              "type": "Wait"
                            },
                            "get-release-status": {
                              "inputs": {
                                "body": {
                                  "organization": "[parameters('organization')]",
                                  "pat": "@body('parse-pat')?['value']",
                                  "project": "@items('for-each-release')['project']",
                                  "releaseId": "@body('parse-create-release')?['releaseId']"
                                },
                                "host": {
                                  "triggerName": "http-post",
                                  "workflow": {
                                    "id": "[resourceId('Microsoft.Logic/workflows', variables('Get Release Status App Name'))]"
                                  }
                                }
                              },
                              "runAfter": {
                                "delay": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Workflow"
                            },
                            "parse-get-release-status": {
                              "inputs": {
                                "content": "@body('get-release-status')",
                                "schema": {
                                  "properties": {
                                    "environments": {
                                      "items": {
                                        "properties": {
                                          "name": {
                                            "type": "string"
                                          },
                                          "status": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "name",
                                          "status"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "runAfter": {
                                "get-release-status": [
                                  "Succeeded"
                                ]
                              },
                              "type": "ParseJson"
                            },
                            "filter-environments": {
                              "inputs": {
                                "from": "@body('parse-get-release-status')?['environments']",
                                "where": "@equals(item()?['name'], 'dev')"
                              },
                              "runAfter": {
                                "parse-get-release-status": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Query"
                            },
                            "grab-status": {
                              "inputs": "@body('filter-environments')?[0]['status']",
                              "runAfter": {
                                "filter-environments": [
                                  "Succeeded"
                                ]
                              },
                              "type": "Compose"
                            }
                          },
                          "expression": "@not(equals(outputs('grab-status'), 'inProgress'))",
                          "limit": {
                            "count": 60,
                            "timeout": "PT1H"
                          },
                          "runAfter": {
                            "parse-create-release": [
                              "Succeeded"
                            ]
                          },
                          "type": "Until"
                        },
                        "if-fail": {
                          "actions": {
                            "set-error-release": {
                              "inputs": {
                                "name": "errorRelease",
                                "value": "@concat(items('for-each-release')['project'], '-', items('for-each-release')['releaseDefinitionId'])"
                              },
                              "runAfter": {},
                              "type": "SetVariable"
                            }
                          },
                          "expression": {
                            "and": [
                              {
                                "not": {
                                  "equals": [
                                    "@outputs('grab-status')",
                                    "inProgress"
                                  ]
                                }
                              },
                              {
                                "not": {
                                  "equals": [
                                    "@outputs('grab-status')",
                                    "succeeded"
                                  ]
                                }
                              }
                            ]
                          },
                          "runAfter": {
                            "until-not-in-progress": [
                              "Succeeded"
                            ]
                          },
                          "type": "If"
                        }
                      },
                      "foreach": "@items('for-each-stage')['releases']",
                      "runAfter": {
                        "current-stage": [
                          "Succeeded"
                        ]
                      },
                      "type": "Foreach"
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('grab-error')",
                          ""
                        ]
                      }
                    ]
                  },
                  "runAfter": {
                    "grab-error": [
                      "Succeeded"
                    ]
                  },
                  "type": "If"
                }
              },
              "foreach": "@body('parse-project-configuration')",
              "runAfter": {
                "parse-project-configuration": [
                  "Succeeded"
                ],
                "parse-pat": [
                  "Succeeded"
                ],
                "initialize-error-release": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "expose-error": {
              "inputs": "@variables('errorRelease')",
              "runAfter": {
                "for-each-stage": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "http-post": {
              "inputs": {
                "method": "POST",
                "schema": {
                  "properties": {
                    "colour": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    },
    {
      "name": "[variables('Rebuild Dev Blue App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Rebuild Dev App Name'))]"
      ],
      "tags": {},
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "rebuild-dev-app": {
              "inputs": {
                "body": {
                  "colour": "blue"
                },
                "host": {
                  "triggerName": "http-post",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', variables('Rebuild Dev App Name'))]"
                  }
                }
              },
              "runAfter": {},
              "type": "Workflow"
            },
            "Response": {
              "inputs": {
                "headers": {
                  "Content-Type": "text/html; charset=utf-8"
                },
                "body": "<html><body>Request sent for blue</body></html>",
                "statusCode": 200
              },
              "kind": "http",
              "runAfter": {
                "rebuild-dev-app": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "http-post": {
              "inputs": {
                "method": "GET",
                "schema": {}
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "Managed Identity": {
      "type": "object",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity]"
    }
  }
}