deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "vaultName": {
      "type": "string",
      "metadata": {
        "description": "Name of the key vault resource"
      }
    },
    "storageAccountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account"
      }
    },
    "projectConfig": {
      "type": "array",
      "metadata": {
        "description": "JSON Config for projects"
      }
    }
  },
  "variables": {
    "Get Secret App Name": "get-secret-app",
    "Rebuild Dev App Name": "rebuild-dev-app",
    "Rebuild Dev Blue App Name": "rebuild-dev-blue-app",
    "Rebuild Dev Green App Name": "rebuild-dev-green-app"
  },
  "resources": [
    {
      "name": "[parameters('vaultName')]",
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2018-02-14",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name'))]"
      ],
      "tags": {},
      "properties": {
        "tenantId": "[subscription().tenantId]",
        "accessPolicies": [
          {
            "tenantId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.tenantId]",
            "objectId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.principalId]",
            "permissions": {
              "secrets": [
                "get"
              ]
            }
          }
        ],
        "sku": {
          "family": "A",
          "name": "standard"
        }
      },
      "resources": []
    },
    {
      "name": "[variables('Get Secret App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "get-current-version": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://@{parameters('vault-name')}.vault.azure.net/secrets/@{triggerBody()['secret']}?api-version=7.0"
              },
              "runAfter": {},
              "type": "Http"
            },
            "parse-version": {
              "inputs": {
                "content": "@body('get-current-version')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-current-version": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "get-secret": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "@{body('parse-version')['id']}?api-version=7.0"
              },
              "runAfter": {
                "parse-version": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "parse-secret": {
              "inputs": {
                "content": "@body('get-secret')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-secret": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "response-secret": {
              "inputs": {
                "body": {
                  "value": "@body('parse-secret')?['value']"
                },
                "statusCode": 200
              },
              "kind": "http",
              "runAfter": {
                "parse-secret": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "vault-name": {
              "type": "string"
            }
          },
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "secret": {
                      "type": "string",
                      "required": true
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          }
        },
        "parameters": {
          "vault-name": {
            "value": "[parameters('vaultName')]"
          }
        }
      }
    },
    {
      "name": "[variables('Rebuild Dev App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "get-secret-app": {
              "inputs": {
                "body": {
                  "secret": "pat"
                },
                "host": {
                  "triggerName": "http-post",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name'))]"
                  }
                }
              },
              "runAfter": {},
              "type": "Workflow"
            },
            "response-accepted": {
              "inputs": {
                "body": {
                  "value": 42
                },
                "statusCode": 202
              },
              "kind": "http",
              "runAfter": {},
              "type": "Response"
            },
            "Project-Configuration": {
              "inputs": "[parameters('projectConfig')]",
              "runAfter": {
                "get-secret-app": [
                  "Succeeded"
                ]
              },
              "type": "Compose"
            },
            "For-each-stage": {
              "actions": {
                "For-each-release": {
                  "actions": {},
                  "foreach": "@items('For-each-stage')",
                  "runAfter": {},
                  "type": "Foreach"
                }
              },
              "foreach": "@outputs('Project-Configuration')",
              "runAfter": {
                "Project-Configuration": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "http-post": {
              "inputs": {
                "method": "POST",
                "schema": {
                  "properties": {
                    "colour": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    },
    {
      "name": "[variables('Rebuild Dev Blue App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Rebuild Dev App Name'))]"
      ],
      "tags": {},
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "rebuild-dev-app": {
              "inputs": {
                "body": {
                  "colour": "blue"
                },
                "host": {
                  "triggerName": "http-post",
                  "workflow": {
                    "id": "[resourceId('Microsoft.Logic/workflows', variables('Rebuild Dev App Name'))]"
                  }
                }
              },
              "runAfter": {},
              "type": "Workflow"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {},
          "triggers": {
            "http-post": {
              "inputs": {
                "method": "GET",
                "schema": {}
              },
              "kind": "Http",
              "type": "Request"
            }
          }
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {
    "Managed Identity": {
      "type": "object",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity]"
    }
  }
}