deploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "Vault Name": {
      "type": "string",
      "metadata": {
        "description": "Name of the key vault resource"
      }
    },
    "Storage Account Name": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account"
      }
    }
  },
  "variables": {
    "Get Secret App Name": "get-secret-app"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "name": "[parameters('Storage Account Name')]",
      "apiVersion": "2018-07-01",
      "location": "[resourceGroup().location]",
      "sku": {
        "name": "Standard_LRS"
      },
      "kind": "StorageV2",
      "tags": {},
      "properties": {
        "supportsHttpsTrafficOnly": true,
        "isHnsEnabled": false
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "name": "[concat(parameters('Storage Account Name'), '/default/', 'configs')]",
      "apiVersion": "2018-07-01",
      "dependsOn": [
        "[resourceId('Microsoft.Storage/storageAccounts', parameters('Storage Account Name')) ]"
      ],
      "properties": {
        "publicAccess": "Blob",
        "metadata": {}
      },
      "resources": []
    },
    {
      "name": "[variables('Get Secret App Name')]",
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "location": "[resourceGroup().location]",
      "dependsOn": [],
      "tags": {},
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "get-current-version": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "https://@{parameters('vault-name')}.vault.azure.net/secrets/@{triggerBody()['secret']}?api-version=7.0"
              },
              "runAfter": {},
              "type": "Http"
            },
            "parse-version": {
              "inputs": {
                "content": "@body('get-current-version')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-current-version": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "get-secret": {
              "inputs": {
                "authentication": {
                  "audience": "https://vault.azure.net",
                  "type": "ManagedServiceIdentity"
                },
                "method": "GET",
                "uri": "@{body('parse-version')['id']}?api-version=7.0"
              },
              "runAfter": {
                "parse-version": [
                  "Succeeded"
                ]
              },
              "type": "Http"
            },
            "parse-secret": {
              "inputs": {
                "content": "@body('get-secret')",
                "schema": {
                  "properties": {
                    "attributes": {
                      "properties": {
                        "created": {
                          "type": "integer"
                        },
                        "enabled": {
                          "type": "boolean"
                        },
                        "recoveryLevel": {
                          "type": "string"
                        },
                        "updated": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "tags": {
                      "properties": {},
                      "type": "object"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "runAfter": {
                "get-secret": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson"
            },
            "response-secret": {
              "inputs": {
                "body": {
                  "value": "@body('parse-secret')?['value']"
                },
                "statusCode": 200
              },
              "kind": "http",
              "runAfter": {
                "parse-secret": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {},
          "parameters": {
            "vault-name": {
              "type": "string"
            }
          },
          "triggers": {
            "http-post": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "secret": {
                      "type": "string",
                      "required": true
                    }
                  },
                  "type": "object"
                },
                "method": "POST"
              }
            }
          }
        },
        "parameters": {
          "vault-name": {
            "value": "[parameters('Vault Name')]"
          }
        }
      }
    },
    {
      "name": "[parameters('Vault Name')]",
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2018-02-14",
      "location": "[resourceGroup().location]",
      "dependsOn": [
        "[resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name'))]"
      ],
      "tags": {},
      "properties": {
        "tenantId": "[subscription().tenantId]",
        "accessPolicies": [
          {
            "tenantId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.tenantId]",
            "objectId": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity.principalId]",
            "permissions": {
              "secrets": [
                "get"
              ]
            }
          }
        ],
        "sku": {
          "family": "A",
          "name": "standard"
        }
      },
      "resources": []
    }
  ],
  "outputs": {
    "Managed Identity": {
      "type": "object",
      "value": "[reference(resourceId('Microsoft.Logic/workflows', variables('Get Secret App Name')), '2017-07-01', 'Full').identity]"
    }
  }
}